0 8 * * 1-5 cd ~/projetos/knowledge-base/ && ~/kb add daily
0 9 * * 5 cd ~/projetos/knowledge-base/ && ~/kb add weekly
0 10 28-31 * * [ $(date -d +1day +%d) -eq 1 ] && cd ~/projetos/knowledge-base/ && ~/kb add monthly
